/.idea/
/.DS_Store
/app/target/
/app/.DS_Store
/security/target/
/security/.DS_Store
/controller/target/
/controller/.DS_Store
/service/target/
/service/.DS_Store
/model/target/
/model/.DS_Store
/dto/target/
/dto/.DS_Store
/dao/target/
/dao/.DS_Store
/emailSender/target/
/emailSender/.DS_Store
/target/
