/.idea/
/.DS_Store
/app-module/target/
/app-module/.DS_Store
/module00-security/target/
/module00-security/.DS_Store
/module01-controller/target/
/module01-controller/.DS_Store
/module02-service/target/
/module02-service/.DS_Store
/module03-model/target/
/module03-model/.DS_Store
/module04-dto/target/
/module04-dto/.DS_Store
/module05-dao/target/
/module05-dao/.DS_Store
/module06-emailSender/target/
/module06-emailSender/.DS_Store
/target/
